aiodns==2.0.0
aiofiles==0.6.0
aiohttp==3.7.4
async-timeout==3.0.1
attrs==22.2.0
Babel==2.5.1
backoff==1.10.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
click==6.7
createrepo-c==0.17.7
dbus-python==1.2.4
defusedxml==0.6.0
diff-match-patch==20200713
distro==1.4.0
Django==2.2.24
django-currentuser==0.5.3
django-filter==2.4.0
django-guardian==2.3.0
django-guid==2.2.1
django-import-export==2.4.0
django-lifecycle==0.8.1
django-readonly-field==1.1.2
djangorestframework==3.12.4
djangorestframework-queryfields==1.0.0
drf-access-policy==0.8.7
drf-nested-routers==0.92.1
drf-spectacular==0.11.0
dynaconf==3.1.5
et-xmlfile==1.1.0
future==0.18.2
gpg==1.13.1
gunicorn==20.0.4
idna==2.5
idna-ssl==1.1.0
importlib-metadata==4.8.3
inflection==0.5.1
Jinja2==2.10.1
jsonschema==3.2.0
libcomps==0.1.18
MarkupPy==1.14
MarkupSafe==0.23
multidict==4.7.4
nose==1.3.7
odfpy==1.4.1
openpyxl==3.1.2
packaging==16.8
ply==3.9
productmd==1.35
psycopg2==2.7.5
pulp-rpm==3.9.0
pulp-rsync==0.0.3
pulpcore==3.9.1
pycairo==1.16.3
pycares==3.1.1
pycparser==2.14
pygobject==3.28.3
pygtrie==2.3.3
pyparsing==2.1.10
pyrsistent==0.18.0
PySocks==1.6.8
python-dateutil==2.6.1
python-gnupg==0.4.9
python-ipmi==0.5.2
pytz==2017.2
PyYAML==5.3.1
redis==3.5.3
requests==2.20.0
rpm==4.14.3
rq==1.13.0
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
scikit-build==0.16.7
six==1.16.0
solv==0.7.22.post2
sqlparse==0.2.4
tablib==3.1.0
toml==0.10.0
typing-extensions==4.1.1
uritemplate==3.0.0
urllib3==1.24.2
urlman==2.0.1
whitenoise==5.1.0
xlrd==1.2.0
xlwt==1.3.0
yarl==1.4.2
zipp==3.6.0
