[Unit]
Description=GnuPG cryptographic agent and passphrase cache
Documentation=man:gpg-agent(1)

[Service]
Type=forking
User=gpg-vault
RuntimeDirectory=gpg-vault
RuntimeDirectoryMode=750
ExecStart=/usr/bin/gpg-agent --daemon
ExecStartPost=/bin/chmod ga+rw ${RUNTIME_DIRECTORY}/S.gpg-agent
ExecReload=/usr/bin/gpgconf --reload gpg-agent

[Install]
WantedBy=default.target
